/* Estilos generales */
body {
    background-image: url('https://raw.githubusercontent.com/SaraNovis/SaraNovis.github.io/refs/heads/master/img/fondo5.webp');
    color: #ffffff;
    font-family: 'Nerko One', cursive;
    margin: 0;
    padding: 0;
}

/* Efecto de nombre como máquina de escribir */
.typewriter {
    font-family: "Handjet", sans-serif;
    font-size: 50px;
    color: #0ec7f0;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.15em solid #0ec7f0;
    animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #0ec7f0; }
}

/* Navegación */
.navigation {
    background-color: transparent;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
    margin: 0 auto;
    width: 90%;
}

.navigation ul {
    list-style: none;
    padding: 0;
    font-family: "Space Grotesk", sans-serif;
}

.navigation ul li {
    display: inline-block;
    margin: 0 15px;
    background-color: #f4e04d;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.navigation ul li:hover {
    transform: rotate(0deg);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.navigation a {
    text-decoration: none;
    color: #083f83;
    font-size: 20px;
    font-family: "Courier Prime", monospace;
    transition: color 0.3s ease;
}

.navigation a:hover {
    color: #eaf4f3;
}

/* Contenedor de la presentación (Home) */
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    margin-top: 30px;
}

/* Fondo de corcho para las secciones */
.section-content {
    background-image: url("../img/corcho.jpg");
    background-size: cover;
    padding: 40px;
    text-align: center;
    display: none;
    margin: 0 auto;
    width: 80%;
}

.section-content.visible {
    display: block;
}

/* Estilo del post-it */
.post-it {
    background-color: #f4e04d;
    width: 300px;
    padding: 30px;
    border-radius: 10px;
    margin: 0 auto;
    transform: rotate(-1deg);
}

/* Botón "Volver a la Home" */
.back-to-home {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #6ACFC7;
    border-radius: 5px;
    font-size: 16px;
    font-family: "Handjet", sans-serif;
    font-weight: bold;
}

.back-to-home:hover {
    background-color: #c2e8e4;
}
